@model Weather_Statistic.Models.MultiDaysCompares
@{
    ViewData["Title"] = "ManyDaysCompares";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
}
<head>


</head>
<article>
    <link rel="stylesheet" href="~/css/TwoCities.css" />
    <section class="title">
        <form asp-controller="Home" asp-action="ManyDaysComparesResult" method="get">
            <div class="row">
                <div class="col">
                    <input type="text" name="town1" class="form-control" placeholder="Miasto nr.1">
                </div>
                <div class="col">
                    <input type="text" name="town2" class="form-control" placeholder="Miasto nr.2">
                </div>
                <input type="hidden" name="days" value="@ViewBag.days" />
            </div>
            <div class="row justify-content-xl-center m-3">
                <button type="submit" class="btn btn-success btn-lg">Porównaj</button>
            </div>
        </form>
    </section>
    @if (ViewBag.flag != true)
    {
        <section>
            <h2>Podaj miasto/miasta</h2>
            <p class="test"></p>
        </section>
    }
    else
    {
        <section class="resultSection">
        <div class="twoCities"><h1 class="hleft">Wyniki dla:<p class="town1">@Model.City1[0].Place</p></h1><h1 class="hright">Wyniki dla:<p class="town2">@Model.City2[0].Place</p></h1></div>
            <div class="default">
                <h3>Wschód i zachód słońca</h3>

                <div class="table-responsive">
                    <div id="sunriset" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                int temp = i + 1;
                                <th class="col-1 bg-secondary">Dzień @temp</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Sunrise</td>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Sunset</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Sunset</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Sunset</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
            <div class="default">
                <h3>Ciśnienie</h3>
                <div class="">
                    <div id="pressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Pressure hPa</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Pressure hPa</td>
                            }
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <div class="default">
                <h3>Wilgotność</h3>
                <div class="">
                    <div id="humidity" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Humadity%</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Humadity%</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
            <div class="default">
                <h3>Zachmurzenie</h3>
                <div class="">
                    <div id="cloudy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Cloudy%</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Cloudy%</td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="default ">
                <h3>Temperatura minimalna i maksymalna</h3>
                <div class="">
                    <div id="temperatures" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.MaxTemp&degC</td>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                            <td class="col-1">@item.MinTemp&degC</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                            <td class="col-1">@item.MaxTemp&degC</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                            <td class="col-1">@item.MinTemp&degC</td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="default">
                <h3>Opady</h3>
                <div class="">
                    <div id="rainy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Rainfall @item.TypeWeat</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Rainfall @item.TypeWeat</td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="default">
                <h3>Prędkość i kierunek wiatru</h3>
                <div class="">
                    <div id="windchart" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Windspeed km/h</td>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Direct</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Windspeed km/h</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Direct</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
            <div class="default">
                <h3>Widoczność</h3>
                <div class="">
                    <div id="visible" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 0; i < ViewBag.days; i++)
                            {
                                <th class="col-1 bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-1">@item.Visible @item.TypeLeng</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-1">@item.Visible @item.TypeLeng</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
        </section>
    }
</article>

<script>
    var arrayInfo1 = null;
    var arrayInfo2 = null;
    var arrayDate = null;
</script>
@if (Model != null)
{
    <script>
        arrayInfo1 =@Html.Raw(Json.Serialize(Model.City1));
        arrayInfo2 =@Html.Raw(Json.Serialize(Model.City2));
        arrayDate =@Html.Raw(Json.Serialize(Model.City1.Select(x=>x.Sunrise.ToString("dd/MM/yyyy"))));


    </script>
}
<!--<script src="https://code.highcharts.com/modules/windbarb.js"></script>-->
<script src="~/js/mycharttwo.js">

</script>



