@model List<Weather_Statistic.Models.OneInfoModel>;
@{
    ViewData["Title"] = "ManyDaysCity";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
}

<head>


</head>
<article>

    <section class="title">
        <h3 class="headsection">Zestawienie informacji pogodowych jednego miasta z @ViewBag.days dni</h3>
        <form asp-controller="Home" asp-action="ManyDaysCityResult" method="get">
            <div class="input-group mb-3">
                <input type="text" name="town" class="form-control" placeholder="Nazwa miasta" aria-label="Nazwa miasta" aria-describedby="button-addon2">
                <input type="hidden" name="days" value="@ViewBag.days">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-dark" id="button-addon2" value="Szukaj" />
                </div>
            </div>
        </form>
    </section>
    @if (ViewBag.flag != true)
    {
        <section>
            <h2>Podaj miasta</h2>
        </section>
    }
    else
    {
        <section class="resultSection">
            <h1>Wyniki dla: @Model[0].Place</h1>
            <div class="default">
                <h3>Wschód i zachód słońca</h3>

                <div class="">
                    <div id="sunriset" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Wschód</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Sunrise</td>

                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Zachód</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Sunset</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Ciśnienie</h3>
                <div class="">
                    <div id="pressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Ciśnienie</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Pressure hPa</td>
                                }
                            </tr>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
            <div class="default">
                <h3>Wilgotność</h3>
                <div class="">
                    <div id="humidity" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary"> Poziom wilgotności</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Humadity%</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Zachmurzenie</h3>
                <div class="">
                    <div id="cloudy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Poziom zachmurzenia</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Cloudy%</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="default ">
                <h3>Temperatura minimalna i maksymalna</h3>
                <div class="">
                    <div id="temperatures" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Tempreatura maksymanlna</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.MaxTemp&degC</td>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Temperatura minimalna</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.MinTemp&degC</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Opady</h3>
                <div class="">
                    <div id="rainy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Ilość opadów[mm]</th>
                                @foreach (var item in Model)
                                {
                                    string answer;
                                    if (item.TypeWeat == "rain")
                                    {
                                        answer = "deszczu";
                                    }
                                    else if (item.TypeWeat == "snow")
                                    {
                                        answer = "śniegu";
                                    }
                                    else if (item.TypeWeat == "sleet")
                                    {
                                        answer = "śniegu z deszczem";
                                    }
                                    else
                                    {
                                        answer = "";
                                    }
                                    <td class="col-sm">@item.Rainfall @answer</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Prędkość i kierunek wiatru</h3>
                <div class="">
                    <div id="windchart" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Prędkość wiartu</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Windspeed km/h</td>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Kierunek wiatru</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Direct</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Widoczność</h3>
                <div class="">
                    <div id="visible" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary" />
                                @for (int i = 1; i <= ViewBag.days; i++)
                                {
                                    <th class="col-sm bg-secondary">Dzień @i</th>
                                }
                            </tr>
                            <tr class="d-flex">
                                <th class="col-sm bg-secondary">Widoczność</th>
                                @foreach (var item in Model)
                                {
                                    <td class="col-sm">@item.Visible @item.TypeLeng</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="summary">
                <h3>Podsumowanie</h3>
                <p>
                    Maksymalna temperatura w ciągu dnia: <strong>@Model.Max(x => x.MaxTemp).</strong>

                </p>
                <p>
                    Minimalna temperatura w ciągu dnia:<strong>@Model.Min(x => x.MinTemp)&degC</strong>
                </p>
                <p>
                    Średnia maksymalna temperatura w ciągu dnia:<strong>@Model.Average(x => x.MinTemp)&degC</strong>
                </p>
                <p>
                    Średnia minimalna temperatura w ciągu ostatnich dni:<strong>@Model.Average(x => x.MinTemp)&degC</strong>
                </p>
                <p>
                    Maksymalne ciśnienie w ciągu ostatnich dni:<strong>@Model.Max(x => x.Pressure) hPa.</strong>
                </p>
                <p>
                    Średnie ciśnienie w ciągu ostatnich dni:<strong>@Model.Average(x => x.Pressure) hPa.</strong>
                </p>
                <p>
                    Najwyższe opady:<strong>@Model.Max(x => x.Rainfall) mm</strong>
                </p>
                <p>
                    Średnie opady w ciągu ostatnich dni:<strong>@Model.Average(x => x.Rainfall) mm</strong>
                </p>
                <p>
                    Najdalsza widoczność: <strong>@Model.Max(x => x.Visible) km.</strong>
                </p>
                <p>
                    Średnia widoczność w ciągu ostatnich dni: <strong>@Model.Average(x => x.Visible) km.</strong>
                </p>
            </div>
        </section>
    }
</article>
<script>
    var arrayInfo = null;
    var arrayDate = null;
</script>
@if (Model != null) {
<script>
     arrayInfo =@Html.Raw(Json.Serialize(Model));
    arrayDate =@Html.Raw(Json.Serialize(Model.Select(x=>x.Sunrise.ToString("dd/MM/yyyy"))));


</script>
}
<script src="https://code.highcharts.com/modules/windbarb.js"></script>
<script src="~/js/mychartone.js"> 
</script>
