
@{
    ViewData["Title"] = "ManyDaysCity";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
}

<head>
    <script src="~/js/mychart.js"></script>
</head>
<article>

    <section class="title">
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nazwa miasta" aria-label="Nazwa miasta" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="button-addon2">Button</button>
                </div>
            </div>
        </form>
    </section>
    <section class="resultSection">
        <h1>Wyniki dla: </h1>
        <div class="default">
            <h3>Wschód i zachód słońca</h3>

            <div class="">
                <div id="sunriset" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                <table class="table table-bordered table-dark">
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <th class="col-1 bg-secondary">test @i</th>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">test @i</td>
                        }
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                </table>

            </div>
        </div>
        <div class="default">
            <h3>Ciśnienie</h3>
            <div class="">
                <div id="pressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <table class="table table-bordered table-dark">
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <th class="col-1 bg-secondary">test cis @i</th>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">test @i</td>
                        }
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="default">
            <h3>Wilgotność</h3>
            <div class="">
                <div id="humidity" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                <table class="table table-bordered table-dark">
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <th class="col-1 bg-secondary">test @i</th>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">test @i</td>
                        }
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                </table>

            </div>
        </div>
        <div class="default">
            <h3>Zachmurzenie</h3>
            <div class="">
                <div id="cloudy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                <table class="table table-bordered table-dark">
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <th class="col-1 bg-secondary">test @i</th>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">test @i</td>
                        }
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                </table>

            </div>
        </div>
        <div class="default ">
            <h3>Temperatura minimalna i maksymalna</h3>
            <div class="temperature">
                <div class="">
                    <div id="temperatures" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <th class="col-1 bg-secondary">test @i</th>
                            }
                        </tr>
                        <tr class="d-flex">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <td class="col-1">test @i</td>
                            }
                        </tr>
                    </table>
                    <br />
                    <table class="table table-bordered table-dark">
                        <tr>
                            @for (int i = 8; i <= 14; i++)
                            {
                                <th scope="col">test @i</th>
                            }
                        </tr>
                        <tr>
                            @for (int i = 8; i <= 14; i++)
                            {
                                <td>test wynik @i</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="default">
            <h3>Opady</h3>
            <div class="temperature">
                <div class="">
                    <div id="rainy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <th class="col-1 bg-secondary">test @i</th>
                            }
                        </tr>
                        <tr class="d-flex">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <td class="col-1">test @i</td>
                            }
                        </tr>
                    </table>
                    <br />
                    <table class="table table-bordered table-dark">
                        <tr>
                            @for (int i = 8; i <= 14; i++)
                            {
                                <th scope="col">test @i</th>
                            }
                        </tr>
                        <tr>
                            @for (int i = 8; i <= 14; i++)
                            {
                                <td>test wynik @i</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="default">
            <h3>Prędkość i kierunek wiatru</h3>
            <div class="">
                <table class="table table-bordered table-dark">
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <th class="col-1 bg-secondary">test @i</th>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">\/</td>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">test @i</td>
                        }
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>></td>
                        }
                    </tr>
                </table>

            </div>
        </div>
        <div class="default">
            <h3>Widoczność</h3>
            <div class="">
                <div id="visible" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                <table class="table table-bordered table-dark">
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <th class="col-1 bg-secondary">test @i</th>
                        }
                    </tr>
                    <tr class="d-flex">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <td class="col-1">test @i</td>
                        }
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 8; i <= 14; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                </table>

            </div>
        </div>
    </section>
</article>
