@model Weather_Statistic.Models.MultiDaysComparesModel
@{
    ViewData["Title"] = "ManyDaysCompares";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
}
<head>


</head>
<article>
    <link rel="stylesheet" href="~/css/TwoCities.css" />
    <section class="title">
        <h3 class="headsection">Zestawienie informacji pogodowych dwóch miast z ostatnich @ViewBag.days dni</h3>
            <form asp-controller="Home" asp-action="ManyDaysComparesResult" method="get">
                <div class="row">
                    <div class="col">
                        <input type="text" name="town1" class="form-control" placeholder="Miasto nr.1">
                    </div>
                    <div class="col">
                        <input type="text" name="town2" class="form-control" placeholder="Miasto nr.2">
                    </div>
                    <input type="hidden" name="days" value="@ViewBag.days" />
                </div>
                <div class="row justify-content-xl-center m-3">
                    <button type="submit" class="btn btn-success btn-lg mybutton">Porównaj</button>
                </div>
            </form>
</section>
    @if (ViewBag.flag != true)
    {
        <section>
            <h2>Podaj miasto/miasta</h2>
            <p class="test"></p>
        </section>
    }
    else
    {
        <section class="resultSection">
        <div class="twoCities"><h1 class="hleft">Wyniki dla: <span class="town1">@Model.City1[0].Place</span></h1><h1 class="hright">Wyniki dla: <span class="town2">@Model.City2[0].Place</span></h1></div>
            <div class="default">
                <h3>Wschód i zachód słońca</h3>

                <div class="table-responsive">
                    <div id="sunriset" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm bg-secondary">Miasto</th>
                            <th class="col-sm bg-secondary">Typ</th>
                            @for (int i =1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm bg-secondary" rowspan="2">@Model.City1[0].Place</th>
                            <th class="col-sm bg-secondary">Wschód</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Sunrise</td>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm bg-secondary" />
                            <th class="col-sm bg-secondary">Zachód</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Sunset</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th colspan="2" class="col-sm bg-secondary" >@Model.City2[0].Place</th>
                            <th class="col-sm bg-secondary">Wschód</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Sunrise</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm bg-secondary"></th>
                            <th class="col-sm bg-secondary">Zachód</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Sunset</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
            <div class="default">
                <h3>Ciśnienie</h3>
                <div class="">
                    <div id="pressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm bg-secondary"/>
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm bg-secondary">@Model.City1[0].Place</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Pressure hPa</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm bg-secondary">@Model.City2[0].Place</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Pressure hPa</td>
                            }
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <div class="default">
                <h3>Wilgotność</h3>
                <div class="">
                    <div id="humidity" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm bg-secondary"/>
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm bg-secondary">@Model.City1[0].Place</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Humadity%</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm bg-secondary">@Model.City2[0].Place</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Humadity%</td>
                            }
                        </tr>
                    </table>

                </div>
            </div>
            <div class="default">
                <h3>Zachmurzenie</h3>
                <div class="">
                    <div id="cloudy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm bg-secondary"/>
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm bg-secondary">@Model.City1[0].Place</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Cloudy%</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm bg-secondary">@Model.City2[0].Place</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Cloudy%</td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="default ">
                <h3>Temperatura minimalna i maksymalna</h3>
                <div class="">
                    <div id="temperatures" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm-2 bg-secondary">Miasto</th>
                            <th class="col-sm-2 bg-secondary">Temperatura</th>
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm-2 bg-secondary">@Model.City1[0].Place</th>
                            <th class="col-sm-2 bg-secondary">maksymalna</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.MaxTemp&degC</td>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm-2 bg-secondary"/>
                            <th class="col-sm-2 bg-secondary">minimalna</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.MinTemp&degC</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm-2 bg-secondary">@Model.City2[0].Place</th>
                            <th class="col-sm-2 bg-secondary">maksymalna</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.MaxTemp&degC</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm-2 bg-secondary"/>
                            <th class="col-sm-2 bg-secondary">minimalna</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.MinTemp&degC</td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="default">
                <h3>Opady</h3>
                <div class="">
                    <div id="rainy" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm-2 bg-secondary"/>
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm-2 bg-secondary">@Model.City1[0].Place</th>
                            @foreach (var item in Model.City1)
                            {
                                string answer;
                                if (item.TypeWeat == "rain")
                                {
                                    answer = "deszczu";
                                }
                                else if (item.TypeWeat == "snow")
                                {
                                    answer = "śniegu";
                                }
                                else if (item.TypeWeat == "sleet")
                                {
                                    answer = "śniegu z deszczem";
                                }
                                else
                                {
                                    answer = "";
                                }
                                <td class="col-sm">@item.Rainfall mm @answer</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm-2 bg-secondary">@Model.City2[0].Place</th>
                            @foreach (var item in Model.City2)
                            {
                                string answer;
                                if (item.TypeWeat == "rain")
                                {
                                    answer = "deszczu";
                                }
                                else if (item.TypeWeat == "snow")
                                {
                                    answer = "śniegu";
                                }
                                else if (item.TypeWeat == "sleet")
                                {
                                    answer = "śniegu z deszczem";
                                }
                                else
                                {
                                    answer = "";
                                }
                                <td class="col-sm">@item.Rainfall mm @answer</td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="default">
                <h3>Prędkość i kierunek wiatru</h3>
                <div class="">
                    <div id="windchart" style="min-width: 310px; height: 400px; margin: 25px auto"></div>
                    <div style="color:black;font-size:10px;">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm-4 bg-secondary" />
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm-2 bg-secondary">@Model.City1[0].Place</th>
                            <th class="col-sm-2 bg-secondary">Prędkość wiatru</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Windspeed m/s</td>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm-2 bg-secondary" />
                            <th class="col-sm-2 bg-secondary">Kierunek wiatru</th>
                            @foreach (var item in Model.City1)
                            {
                                if (item.Windspeed >= 1)
                                {
                                    <td class="col-sm">@item.Direct</td>
                                }
                                else
                                {
                                    <td class="col-sm">0</td>
                                }
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm-2 bg-secondary">@Model.City2[0].Place</th>
                            <th class="col-sm-2 bg-secondary">Prędkość wiatru</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Windspeed m/s</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm-2 bg-secondary" />
                            <th class="col-sm-2 bg-secondary">Kierunek wiatru</th>
                            @foreach (var item in Model.City2)
                            {
                                if (item.Windspeed >= 1)
                                {
                                    <td class="col-sm">@item.Direct</td>
                                }
                                else
                                {
                                    <td class="col-sm">0</td>
                                }
                            }
                        </tr>
                    </table>

                </div>
            </div>
            <div class="default">
                <h3>Widoczność</h3>
                <div class="">
                    <div id="visible" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                    <table class="table table-bordered table-dark">
                        <tr class="d-flex">
                            <th class="col-sm-2 bg-secondary" />
                            @for (int i = 1; i <= ViewBag.days; i++)
                            {
                                <th class="col-sm bg-secondary">Dzień @i</th>
                            }
                        </tr>
                        <tr class="d-flex town1">
                            <th class="col-sm-2 bg-secondary">@Model.City1[0].Place</th>
                            @foreach (var item in Model.City1)
                            {
                                <td class="col-sm">@item.Visible @item.TypeLeng</td>
                            }
                        </tr>
                        <tr class="d-flex town2">
                            <th class="col-sm-2 bg-secondary">@Model.City2[0].Place</th>
                            @foreach (var item in Model.City2)
                            {
                                <td class="col-sm">@item.Visible @item.TypeLeng</td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="summary">
                    <h3>Podsumowanie</h3>
                    <p>
                        Maksymalna temperatura w ciągu dnia:
                        @if (Model.City1.Max(x => x.MaxTemp) > Model.City2.Max(x => x.MaxTemp))
                        {
                            <strong>@Model.City1.Max(x => x.MaxTemp)&degC(@Model.City1[0].Place)</strong>
                        }
                        else if (Model.City1.Max(x => x.MaxTemp) < Model.City2.Max(x => x.MaxTemp))
                        {
                            <strong>@Model.City2.Max(x => x.MaxTemp)&degC(@Model.City2[0].Place)</strong>
                        }
                        else
                        {
                            <strong>@Model.City1.Max(x => x.MaxTemp)&degC(zanotowana w obu miastach)</strong>
                        }
                    </p>
                    <p>
                        Minimalna temperatura w ciągu dnia:
                        @if (Model.City1.Max(x => x.MaxTemp) > Model.City2.Max(x => x.MaxTemp))
                        {
                            <strong>@Model.City1.Min(x => x.MinTemp)&degC(@Model.City1[0].Place)</strong>
                        }
                        else if (Model.City1.Min(x => x.MinTemp) < Model.City2.Max(x => x.MaxTemp))
                        {
                            <strong>@Model.City2.Min(x => x.MinTemp)&degC(@Model.City2[0].Place)</strong>
                        }
                        else
                        {
                            <strong>@Model.City1.Min(x => x.MinTemp)&degC(zanotowana w obu miastach)</strong>
                        }
                    </p>
                    <p>
                        Maksymalne ciśnienie w ciągu dnia:
                        @if (Model.City1.Max(x => x.Pressure) > Model.City2.Max(x => x.Pressure))
                        {
                            <strong>@Model.City1.Max(x => x.Pressure) hPa(@Model.City1[0].Place)</strong>
                        }
                        else if (Model.City1.Max(x => x.Pressure) < Model.City2.Max(x => x.Pressure))
                        {
                            <strong>@Model.City2.Max(x => x.Pressure) hPa(@Model.City2[0].Place)</strong>
                        }
                        else
                        {
                            <strong>@Model.City1.Max(x => x.Pressure) hPa(zanotowana w obu miastach)</strong>
                        }
                    </p>
                    <p>
                        Minimalne ciśnienie w ciągu dnia:
                        @if (Model.City1.Max(x => x.Pressure) > Model.City2.Max(x => x.Pressure))
                        {
                            <strong>@Model.City1.Min(x => x.Pressure) hPa(@Model.City1[0].Place)</strong>
                        }
                        else if (Model.City1.Min(x => x.Pressure) < Model.City2.Max(x => x.Pressure))
                        {
                            <strong>@Model.City2.Min(x => x.Pressure) hPa(@Model.City2[0].Place)</strong>
                        }
                        else
                        {
                            <strong>@Model.City1.Min(x => x.Pressure) hPa(zanotowana w obu miastach)</strong>
                        }
                    </p>
                    <p>
                        Najwyższe opady:
                        @if (Model.City1.Max(x => x.Rainfall) > Model.City2.Max(x => x.Rainfall))
                        {
                            <strong>@Model.City1.Max(x => x.Rainfall) mm(@Model.City1[0].Place)</strong>
                        }
                        else if (Model.City1.Max(x => x.Rainfall) < Model.City2.Max(x => x.Rainfall))
                        {
                            <strong>@Model.City2.Max(x => x.Rainfall) mm(@Model.City2[0].Place)</strong>
                        }
                        else
                        {
                            <strong>@Model.City1.Max(x => x.Rainfall) mm(zanotowana w obu miastach)</strong>
                        }
                    </p>

                    <p>W ciągu ostatnich @ViewBag.days dni w mieście @Model.City1[0].Place deszcz wystąpił @Model.City1.Count(x => x.Rainfall > 0) raz(y), natomiast w mieście @Model.City2.Count(x => x.Rainfall > 0) raz(y)</p>

                    <p>
                        Najdalsza widoczność:
                        @if (Model.City1.Max(x => x.Visible) > Model.City2.Max(x => x.Visible))
                        {
                            <strong>@Model.City1.Max(x => x.Visible) km(@Model.City1[0].Place)</strong>
                        }
                        else if (Model.City1.Max(x => x.Visible) < Model.City2.Max(x => x.Visible))
                        {
                            <strong>@Model.City2.Max(x => x.Visible) km(@Model.City2[0].Place)</strong>
                        }
                        else
                        {
                            <strong>@Model.City1.Max(x => x.Visible) km(zanotowana w obu miastach)</strong>
                        }
                    </p>

                    <h4>Ciekawostki</h4>
                    <p>
                        Średnia temperatury maksymalnej wynosi:
                    </p>
                    <ul>
                        <li>
                            Dla miasta @Model.City1[0].Place <strong>@Model.City1.Average(x => x.MaxTemp) hPa</strong>
                        </li>
                        <li>
                            Dla miasta @Model.City2[0].Place <strong>@Model.City2.Average(x => x.MaxTemp) hPa</strong>
                        </li>
                    </ul>
                    <p>
                        Odchylenie standardowe temperatury maksymalnej wynosi:
                    </p>
                    <ul>
                        <li>
                            Dla miasta @Model.City1[0].Place <strong>@ViewBag.devTempTown1&degC</strong>
                        </li>
                        <li>
                            Dla miasta @Model.City2[0].Place <strong>@ViewBag.devTempTown2&degC</strong>
                        </li>
                    </ul>

                    <p>
                        Średnie ciśnienie wynosi:
                    </p>
                    <ul>
                        <li>
                            Dla miasta @Model.City1[0].Place <strong>@Model.City1.Average(x => x.Pressure)hPa</strong>
                        </li>
                        <li>
                            Dla miasta @Model.City2[0].Place <strong>@Model.City2.Average(x => x.Pressure) hPa</strong>
                        </li>
                    </ul>
                    <p>
                        Odchylenie standardowe ciśnienia wynosi:
                    </p>
                    <ul>
                        <li>
                            Dla miasta @Model.City1[0].Place <strong>@ViewBag.devPresTown1 hPa</strong>
                        </li>
                        <li>
                            Dla miasta @Model.City2[0].Place <strong>@ViewBag.devPresTown2 hPa</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    }
</article>

<script>
    var arrayInfo1 = null;
    var arrayInfo2 = null;
    var arrayDate = null;
</script>
@if (Model != null)
{
    <script>
        arrayInfo1 =@Html.Raw(Json.Serialize(Model.City1));
        arrayInfo2 =@Html.Raw(Json.Serialize(Model.City2));
        arrayDate =@Html.Raw(Json.Serialize(Model.City1.Select(x=>x.Sunrise.ToString("dd/MM/yyyy"))));


    </script>
}

<script src="~/js/mycharttwo.js">

</script>



