@model Weather_Statistic.Models.MultiDaysCompares;
@{
    ViewData["Title"] = "SearcherTwo";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
    OneInfoModel City1=null;
    OneInfoModel City2=null;
    if (Model != null)
    {
        City1 = @Model.City1[0];
        City2 = @Model.City2[0];
    }

    if (ViewBag.operation == null)
    {
        ViewBag.operation = "TwoTowns";
    }

    if (ViewBag.days == null)
    {
        ViewBag.days = 0;
    }
}
<head>
    <link rel="stylesheet" href="~/css/TwoCities.css" />
</head>
<article>

    <section class="title">
        <h3 class="headsection">Zestawienie informacji pogodowych dwóch miast
        @if (ViewBag.days==1) {
            <span>z dnia wczorajszego</span>
        }
        else
        {
            <span>z ostatnich @ViewBag.days dni</span>
        }
        </h3>
            <form asp-controller="Home" asp-action="@ViewBag.operation" method="get">
                <div class="row">
                    <div class="col">
                        <input type="text" name="town1" class="form-control" placeholder="Miasto nr.1">
                    </div>
                    <div class="col">
                        <input type="text" name="town2" class="form-control" placeholder="Miasto nr.2">
                    </div>
                    <input type="hidden" name="days" value="@ViewBag.days">
                </div>
                <div class="row justify-content-xl-center m-3">
                    <button type="submit" class="btn btn-success btn-lg mybutton">Porównaj</button>
                </div>
            </form>
</section>
    @if (ViewBag.flag != true)
    {
        <section>
        <h2>Podaj miasto/miasta</h2>
        </section>
    }
    else
    {
        <section class="resultSection">
            <div class="twoCities"><h1 class="hleft">Wyniki dla: <span class="town1">@City1.Place</span> </h1><h1 class="hright">Wyniki dla:<span class="town2"> @City2.Place</span></h1></div>
            <div class="default">
                <h3>Wschód i zachód słońca</h3>
                <div class="divide">
                    <div class="line">
                        <div class="linecenter"><span class="town1">@City1.Sunrise</span></div>
                        <div class="half-circle">
                        </div>
                        <div class="linecenter"><span class="town1">@City1.Sunset</span></div>
                    </div>
                    <div class="line">
                        <div class="linecenter"><span class="town2">@City2.Sunrise</span></div>
                        <div class="half-circle">
                        </div>
                        <div class="linecenter"><span class="town1">@City2.Sunset</span></div>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Ciśnienie</h3>
                <div class="line">
                    <div class="linecenter righttext"><span class="town1">@City1.Pressure hPa</span></div>
                    <div class="groupImage">
                        <img src="~/picture/barometer.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"><span class="town2">@City2.Pressure hPa</span></div>
                </div>
            </div>
            <div class="default">
                <h3>Wilgotność</h3>
                <div class="line">
                    <div class="linecenter righttext"><span class="town1">@City1.Humadity%</span></div>
                    <div class="groupImage">
                        <img src="~/picture/humidity.svg" />
                        <div class="authors">Icons made by <a href="https://www.flaticon.com/authors/kirill-kazachek" title="Kirill Kazachek">Kirill Kazachek</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> <span class="town2">@City2.Humadity%</span></div>
                </div>
            </div>
            <div class="default">
                <h3>Zachmurzenie</h3>
                <div class="line">
                    <div class="linecenter righttext"> <span class="town1">@City1.Cloudy%</span></div>
                    <div class="groupImage">
                        <img src="~/picture/cloudy.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> <span class="town2">@City2.Cloudy%</span></div>
                </div>
            </div>
            
            <div class="default ">
                <h3>Temperatura maksymalna i minimalna</h3>
                <div class="block">
                    <div class="line">
                        <div class="linecenter righttext"> <span class="town1">@City1.MaxTemp&degC</span> </div>
                        <div class="groupImage">
                            <img src="~/picture/warm.svg" />
                            <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                        </div>
                        <div class="linecenter righttext"><span class="town1"> @City2.MaxTemp&degC</span> </div>
                    </div>
                    <div class="line">
                        <div class="linecenter righttext"> <span class="town2">@City1.MinTemp&degC</span></div>

                        <div class="groupImage">
                            <img src="~/picture/cold.svg" />
                            <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                        </div>
                        <div class="linecenter righttext"> <span class="town2">@City2.MinTemp&degC</span></div>
                    </div>
                </div>
            </div>
            <div class="default">
                <h3>Opady</h3>
                <div class="block">
                    <div class="line">
                        <div class="linecenter righttext">
                            @if (City1.TypeWeat == "rain" || City1.TypeWeat == "sleet")
                            {
                                <p class="town1">@City1.Rainfall mm</p>
                            }
                            else
                            {
                                <p class="town1">0 mm</p>
                            }
                        </div>
                        <div class="groupImage">
                            <img src="~/picture/rain.svg" />
                            <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                        </div>
                        <div class="linecenter righttext">
                            @if (City2.TypeWeat == "rain" || City2.TypeWeat == "sleet")
                            {
                                <p class="town1">@City2.Rainfall mm</p>
                            }
                            else
                            {
                                <p class="town1">0 mm</p>
                            }
                        </div>
                    </div>
                    <div class="line">
                        <div class="linecenter righttext">
                            @if (City1.TypeWeat == "snow" || City1.TypeWeat == "sleet")
                            {
                                <p class="town2">@City1.Rainfall mm</p>
                            }
                            else
                            {
                                <p class="town2">0 mm</p>
                            }
                        </div>
                        <div class="groupImage">
                            <img src="~/picture/snow.svg" />
                            <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                        </div>
                        <div class="linecenter righttext">
                            @if (City2.TypeWeat == "snow" || City2.TypeWeat == "sleet")
                            {
                                <p class="town2">@City2.Rainfall mm</p>
                            }
                            else
                            {
                                <p class="town2">0 mm</p>
                            }
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="default">
                <h3>Prędkość i kierunek wiatru</h3>
                <div class="line">
                    <div class="linecenter righttext"> <span class="town1">@City1.Windspeed km/h @City1.Direct</span></div>
                    <div class="groupImage">
                        <img src="~/picture/windy.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> <span class="town2">@City2.Windspeed km/h @City2.Direct</span></div>
                </div>               
            </div>
            <div class="default">
                <h3>Widoczność</h3>
                <div class="line">
                    <div class="linecenter righttext"> <span class="town1">@City1.Visible @City1.TypeLeng</span></div>
                    <div class="groupImage">
                        <img src="~/picture/visibility.svg" />
                        <div class="authors">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> <span class="town2">@City2.Visible @City2.TypeLeng</span></div>
                </div>
            </div>
        </section>
    }
    </article>